.table_cabecera{
    background-color: limegreen;
    border: 12px;
    text-align: center;
    color: white;
    width: 15px;
}
tbody tr:nth-child(even) { background: #ddd}
tbody tr:nth-child(odd) { background: #fff}
table :first-child {
    width: 100px;
  }
  table tr:nth-child(2) {
    width: 300px;
  }
  table tr:nth-child(3) {
    width: 200px;
  }
  table tr:last-child {
    width: 20px;
  }